{{> header }}
<span class="preheader">{{{translate 'user_signup_request_preheader'}}}</span>
<h1>{{{greetingByGender name sexe}}}</h1>
<h3>{{{translate "welcome_to_the_nominis_world"}}}</h3>
<p>{{{translate 'user_sur_p1'}}}</p>
<h4>{{{translate "about_nominis"}}}</h4>
<p>{{{translate 'about_nominis_p1'}}}</p>
<p>{{{translate 'about_nominis_p2'}}}</p>
<p>{{{translate 'about_nominis_p3'}}}</p>
<p><em>{{{translate 'EMAIL_SIGNATURE'}}}</em></p>
{{> footer }}